.pagination > li > a,
.pagination > li > span {
    color: #00BD13; /* Warna teks link pagination */
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: #00BD13; /* Warna latar belakang saat di-hover */
    border-color: #00BD13; /* Warna border saat di-hover */
    color: white; /* Warna teks saat di-hover */
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #00BD13; /* Warna latar belakang untuk halaman aktif */
    border-color: #00BD13; /* Warna border untuk halaman aktif */
    color: white; /* Warna teks untuk halaman aktif */
}
