.h-32px {
    height: 32px;
}

.margin-hero {
    margin-top: 80px; 
    margin-bottom: 80px; 
}

.bg-green {
    background-color: #A3AF9E;
    padding: 40px;
    border-radius: 50px;
}

.navbar-nav {
    .nav-link.active {
        color: $black;
        font-weight: bold;
    }

    .nav-link {
        color: $black;

        &:hover {
            color: $gray-500;
        }
    }
}

.nav-item {
    padding-left: 0;
    padding-right: 0;
}
@include media-breakpoint-up(lg) {
    .nav-item {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.btn-primary-white {
    background-color: $green;
    color: $white;
    border-radius: 50px;
    padding: 10px 24px;
    min-width: 128px;
    border: 2px solid $green;

    &:hover {
        background-color: $gray-100;
        color: $green;
        border: 2px solid $green;
    }
}

.btn-primary-green {
    background-color: $white;
    color: $green;
    border-radius: 50px;
    padding: 10px 24px;
    min-width: 128px;
    border: 2px solid $green;

    &:hover {
        background-color: $green-100;
        color: $green;
        border: 2px solid $green;
    }
}

.center-text {
    text-align: center;
    margin: 0 auto;
}

.min-h-372px {
    min-height: 372px;
}